<div class="container mt-3">
  <h1 class="mb-3">List of Restaurants:</h1>

  <% @restaurants.each do |restaurant| %>
  <ul>
    <li>
      <h2>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </h2>
      <p>
        <%= restaurant.address %>
      </p>
    </li>
  </ul>
  <% end %>
</div>
